<section>
    <a name="signup"><h1>Subscribe</h1></a>
    <div id="mc_embed_signup">
      <form action="http://eepurl.com/cPGWsz" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <label for="mce-EMAIL"><b>Mastering Online Payments Newsletter!</b></label> <br>
          <input type="email" 
                 value="" 
                 name="EMAIL" 
                 class="required email" 
                 id="mce-EMAIL" 
                 placeholder="you@email.com"
                 style="width:100%;margin: 5px 0px 5px 0px; padding: 3px 3px 3px 3px; border: 3px solid #cdcdcd; border-radius: 5px;"
            />
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      <div class="clear" style="text-align:right"><input type="submit"
                                value="Subscribe"
                                name="subscribe"
                                id="mc-embedded-subscribe" 
                                class="button"
                        >
      </div>
    </form>
    <br />
  </div>
</section>