<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url | uri_escape }}&via={{ site.twitter_user }}" class="twitter" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
  {% endif %}
  {% if site.facebook_like %}
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | uri_escape }}" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
  {% endif %}
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url | uri_escape }}" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
  <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url | uri_escape }}&title={{ page.title | uri_escape }}" class="reddit" target="_blank"><i class="fab fa-reddit-alien"></i> Reddit</a>
</div>
